<h2>{{ title }}</h2>

<form (submit)="store()" [formGroup]="form">

  <div class="d-flex gap-4">
    <div class="col-12 col-md-2">
      <app-input-img [currentImageURL]="model?.logo" (image)="selectedImage($event)"></app-input-img>
    </div>

    <div class="col-12 col-md-10">

      <div class="d-flex gap-3">
        <mat-form-field appearance="outline" class="col mb-3">
          <mat-label>Name</mat-label>
          <input formControlName="name" matInput>
          <mat-error *ngIf="form.invalid">{{ getNameFieldError() }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-3 mb-3">
          <mat-label>Short Name</mat-label>
          <input formControlName="shortName" matInput>
        </mat-form-field>
      </div>

      <mat-form-field appearance="outline" class="mb-3">
        <mat-label>Stadium</mat-label>
        <mat-select formControlName="stadiumId">
          <mat-option *ngFor="let stadium of stadiums" [value]="stadium.id" >{{ stadium.name }}</mat-option>
        </mat-select>
      </mat-form-field>

      <div class="d-flex gap-3">

        <mat-form-field appearance="outline" class="mb-3">
          <mat-label>Country</mat-label>
          <mat-select formControlName="countryId">
            <mat-option *ngFor="let country of countries" [value]="country.id">{{ country.name }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="mb-3">
          <mat-label>Sport</mat-label>
          <mat-select formControlName="sportId">
            <mat-option *ngFor="let sport of sports" [value]="sport.id">{{ sport.name }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="mb-3">
          <mat-label>League</mat-label>
          <mat-select formControlName="leagueId">
            <mat-option *ngFor="let league of leagues" [value]="league.id">{{ league.name }}</mat-option>
          </mat-select>
        </mat-form-field>

      </div>

      <div class="d-flex gap-3">
        <mat-form-field appearance="outline" class="col-3">
          <mat-label>Primary Color</mat-label>
          <input formControlName="colorPrimary" type="color" matInput >
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-3">
          <mat-label>Secondary Color</mat-label>
          <input formControlName="colorSecondary" type="color" matInput >
        </mat-form-field>
      </div>

      <div class="d-flex gap-3 mb-3">
        <button mat-flat-button color="primary" [disabled]="form.invalid">Save</button>
        <a mat-stroked-button routerLink="/teams">Cancel</a>
      </div>

    </div>
  </div>

</form>
