<mat-toolbar color="primary">
    <span>
      <a routerLink="" mat-button>
        <mat-icon>sports_basketball</mat-icon> I-BETCHA
      </a>
    </span>
    <div>
      <a mat-button routerLink="sports">Sports</a>
    </div>
    <div>
      <a mat-button routerLink="bets">Bets</a>
    </div>
    <div>
      <a mat-button routerLink="matches">Matches</a>
    </div>

    <div>
      <a mat-button routerLink="matches/search">
        <mat-icon>search</mat-icon> Search Match
      </a>
    </div>
</mat-toolbar>
