img.player-select-portrait {
  height: 60px;
  width: 50px;
  object-fit: cover;
  vertical-align: middle;
  padding-top: .5rem;
  padding-bottom: .5rem;
  margin-right: .5rem;
}

ul {
  list-style: none;
}

.mat-cell {
  vertical-align: middle;
}

mat-icon {
  cursor: pointer;
  float:right;
}
