
  <div *ngIf="imageBase64">
    <div class="mb-3 file-image" [ngStyle]="{ width:  width, height: height }">
      <img [src]="imageBase64" alt="Image" class="img-fluid" />
    </div>
  </div>

  <div *ngIf="currentImageURL">
    <div class="mb-3 file-image" [ngStyle]="{ width:  width, height: height }">
      <img [src]="currentImageURL" alt="Image" class="img-fluid" />
    </div>
  </div>


<div class="mb-3">
  <button type="button" mat-raised-button (click)="imageInput.click()">
    {{ buttonText }}
  </button>
  <input type="file" hidden #imageInput (change)="change($event)" />
</div>
