<form [formGroup]="form">
  <div class="mb-4">
    <h4>Select Your Team</h4>
    <mat-radio-group class="d-flex gap-3" formControlName="teamId">
      <mat-radio-button *ngFor="let team of teams" [value]="team.id">{{ team.name }}</mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="mb-4">
    <h4>Bet Type</h4>
    <mat-radio-group class="d-flex gap-3" formControlName="betTypeId" >
      <mat-radio-button *ngFor="let betType of betTypes" [value]="betType.id">{{ betType.name }}</mat-radio-button>
    </mat-radio-group>
    <div>
      <mat-form-field appearance="outline">
        <input formControlName="pointSpreadValue" matInput />
      </mat-form-field>
    </div>
    <div>
      <mat-radio-group class="d-flex gap-3" formControlName="betTypeOptionId" >
        <mat-radio-button [value]="1">Minus</mat-radio-button>
        <mat-radio-button [value]="2">Plus</mat-radio-button>
        <mat-radio-button [value]="3">Exactly</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>


  <div>
    <mat-form-field appearance="outline">
      <mat-label>Modality</mat-label>
      <mat-select formControlName="modalityId">
        <mat-option *ngFor="let modality of modalities" [value]="modality.id">{{ modality.name }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="row">
    <div class="col-12 col-md-4">
      <div class="text-center"><h3>Bet Details</h3></div>
      <div>
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>Amount</mat-label>
          <input formControlName="amount" matInput type="number" />
          <span matPrefix>$&nbsp;</span>
          <span matSuffix>.00</span>
          <mat-error *ngIf="form.invalid">{{ getErrorAmountField() }}</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill" floatLabel="always">
          <mat-label>Rate 0.04%</mat-label>
          <input formControlName="rate" readonly matInput type="number" />
          <span matPrefix>$&nbsp;</span>
          <span matSuffix>.00</span>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill" floatLabel="always">
          <mat-label>Subtotal</mat-label>
          <input formControlName="subTotal" readonly matInput type="number" />
          <span matPrefix>$&nbsp;</span>
          <span matSuffix>.00</span>
        </mat-form-field>
      </div>
    </div>
    <div class="col-12 col-md-4"></div>
    <div class="col-12 col-md-4">
      <div class="text-center"><h3>Disclosure</h3></div>
      <div>
        <p *ngFor="let disclosure of disclosures" id="disclosure-{{ disclosure.id }}">
          {{ disclosure.description }}
        </p>
      </div>
    </div>
  </div>

  <div class="mb-3">
    <mat-checkbox formControlName="disclosureAccepted">I have read and accept the disclosure.</mat-checkbox>
  </div>

  <div class="d-flex gap-3 mb-3">
    <button mat-flat-button color="primary" [disabled]="form.invalid">Make Bet</button>
    <a mat-stroked-button routerLink="/matches">Cancel</a>
  </div>

</form>

<div class="mb-5">
  <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
    <ngb-panel title="Share to (close bet)">
      <ng-template ngbPanelContent>
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
        aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
        sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
        craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
        occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
        labore sustainable VHS.
      </ng-template>
    </ngb-panel>
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <span>Share to i-BetCHA Community (Open)</span>
      </ng-template>
      <ng-template ngbPanelContent>
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
        aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
        sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
        craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
        occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
        labore sustainable VHS.
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>
