
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-2">
      <ul>
        <li>Baseball</li>
        <li>Basketball</li>
        <li>Soccer</li>
        <li>Tenis</li>
      </ul>
    </div>

    <!-- main content -->
    <div class="col-12 col-md-8">
      <ngb-carousel #carousel [interval]="1000">
        <ng-template ngbSlide *ngFor="let img of images; index as i">
          <div class="carousel-caption">
            <h3>My slide {{i + 1}} title</h3>
          </div>
          <a href="https://www.google.fr/?q=Number+{{i+1}}" target="_blank" rel="nofollow noopener noreferrer">
            <div class="picsum-img-wrapper" style="overflow: hidden;">
              <img [src]="img" alt="My image {{i + 1}} description" class="img-fluid" style="width: 100%;">
            </div>
          </a>
        </ng-template>
      </ngb-carousel>


      <h1>{{ title }}</h1>

      <h2>Today Matches</h2>

      <app-matches-list [matches]="todayMatches"></app-matches-list>

      <h2>Old Matches</h2>

      <app-matches-list [matches]="oldMatches"></app-matches-list>
    </div>

    <!-- right sidebar -->
    <div class="col-12 col-md-2">
      <h2>Latest Bets</h2>

      <app-matches-list [matches]="todayMatches"></app-matches-list>
    </div>
  </div>
</div>




