<h2>{{ title }}</h2>

<form (submit)="OnSubmit()" [formGroup]="form">

  <div class="d-flex flex-wrap">
    <div class="col-12 col-md-8">

      <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input formControlName="title" matInput />
        <mat-error *ngIf="form.invalid">{{ getTitleFieldError() }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Slug</mat-label>
        <input formControlName="slug" matInput readonly class="readonly text-muted" />
      </mat-form-field>

      <app-input-markdown (changeMarkdown)="handleChange($event)"></app-input-markdown>

      <div class="d-flex gap-3 mb-3">
        <button mat-flat-button color="primary" [disabled]="form.invalid" >Save</button>
        <a mat-raised-button routerLink="/posts">Cancel</a>
      </div>

    </div>

    <div class="col-12 col-md-3 offset-md-1">
      <mat-form-field appearance="outline" class="mb-3">
        <mat-label>Post Date</mat-label>
        <input formControlName="postDate" matInput [matDatepicker]="postDate" />
        <mat-datepicker-toggle matSuffix [for]="postDate"></mat-datepicker-toggle>
        <mat-datepicker #postDate></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Status</mat-label>
        <mat-select formControlName="statusId">
          <mat-option *ngFor="let status of postStatus" [value]="status.id" >{{ status.name }}</mat-option>
        </mat-select>
      </mat-form-field>

      <app-input-img [currentImageURL]="model?.image" (image)="selectedImage($event)"></app-input-img>
      
    </div>

  </div>

</form>
