/* You can add global styles to this file, and also import other style files */

/* html, body { height: 100%; } */
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

form mat-form-field {
  width: 100%;
}

table {
  width: 100%;
}

img.player-select-portrait {
  height: 60px;
  width: 50px;
  object-fit: cover;
  vertical-align: middle;
  padding-top: .5rem;
  padding-bottom: .5rem;
  margin-right: .5rem;
}

img.league-select-portrait {
  height: 30px;
  width: auto;
  text-align: center;
}
